body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Черный фон */
    color: #b3b3b3; /* Серый цвет текста */
    overflow: auto; /* Включаем прокрутку */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
    width: 100%;
    max-width: 400px;
    height: 80px; /* Фиксированная высота контейнера */
    padding: 20px; /* Добавляем отступы для мобильной версии */
    box-sizing: border-box; /* Учитываем отступы в ширину контейнера */
    background-color: #1e1e1e; /* Темный фон контейнера */
    border-radius: 25px; /* Скругленные углы контейнера */
    justify-content: flex-start; /* Выравниваем содержимое по верхнему краю */
}

.input-field {
    display: flex;
    align-items: center;
    position: relative;
    margin: -8px 0 20px 0; /* Отрицательный верхний отступ для поднятия элемента */
    width: 90%;
}
.input-field input {
    font-size: 1.2em; /* Уменьшенный размер */
    color: #b3b3b3;
    border-radius: 25px; /* Скругленные углы контейнера */
    padding: 0px 20px; /* Добавляем отступы */
    height: 46px; /* Высота для выравнивания с кнопкой */
    flex-grow: 1; /* Растягиваем на доступную ширину */
    border: none; /* Убираем рамку */
    outline: none; /* Убираем линию фокуса */
    box-shadow: none; /* Убираем тень */
    vertical-align: middle; /* Вертикальное выравнивание текста */
    position: relative; /* Устанавливаем относительное позиционирование */
    top: 6px; /* Сдвиг текста вниз */
}

.input-field .validate:focus,
.input-field .validate:active,
.input-field .validate:valid,
.input-field .validate:invalid {
    border: none !important; /* Убираем рамку */
    box-shadow: none !important; /* Убираем тень */
}


button {
    background-color: #1db954; /* Зеленая кнопка */
    color: #121212; /* Черный цвет текста */
    border: none;
    padding: 16px; /* Отступы по бокам */
    cursor: pointer;
    border-radius: 25px; /* Скругленные углы контейнера */
    height: 36px; /* Высота кнопки для выравнивания с полем ввода */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Капсом */
    font-weight: bold; /* Жирный шрифт */
    font-size: 0.86em; /* Размер текста */
    margin: 0.5em 0 0.2em 0; /* Уменьшенное расстояние сверху и снизу */
}

button i.material-icons {
    margin-left: 2.5px; /* Отступ слева для иконки */
}
#results img {
    width: 300px; /* Устанавливаем фиксированную ширину изображения */
    height: 300px; /* Устанавливаем фиксированную высоту изображения */
    border-radius: 50%; /* Округляем изображение */
    margin-top: 0.1em; /* Уменьшенное расстояние */
    object-fit: cover; /* Обеспечивает обрезку изображения для сохранения пропорций */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#results h2 {
    font-size: 2em; /* Размер текста для имени артиста */
    color: #b3b3b3; /* Зеленый цвет */
    padding: 0.1px;
    margin: 0.5em 0 0.2em 0; /* Уменьшенное расстояние сверху и снизу */
    text-align: center; /* Центрирование текста */
}

#results p {
    margin: 0.5em 0; /* Уменьшаем верхний и нижний отступы */
    text-align: center; /* Центрирование текста */
    color: #b3b3b3; /* Серый цвет текста */
    padding: 0; /* Убираем отступы */
    font-size: 1.1em; /* Увеличиваем размер текста */
}
.followers .emoji {
    font-size: 0.76em; /* Измените этот размер на нужный вам */
}
#top-tracks {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #535353; /* Темно-серый цвет */
    margin-top: 0.8em; /* Уменьшенный верхний отступ */
    margin-bottom: 0.4em; /* Уменьшенный нижний отступ */
    text-align: center; /* Центрирование текста */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #212121; /* Черный фон таблицы */
    color: #b3b3b3; /* Белый текст */
    margin-top: 0.1em;
    border-radius: 14px; /* Закругляем углы таблицы */
    overflow: hidden; /* Обеспечиваем правильное отображение закругленных углов */
}
table td {
    padding: 0.1em 1em; /* Добавляем отступы сверху/снизу и по бокам */
    text-align: left;
    white-space: nowrap; /* Запрещаем перенос текста */
    overflow: hidden; /* Скрываем текст, который не помещается */
    text-overflow: ellipsis; /* Добавляем многоточие для длинного текста */
    max-width: 200px; /* Максимальная ширина ячейки */
}

th, td {
    padding: 0.8em;
    text-align: left;
}
table td:last-child {
    text-align: right; /* Выравнивание текста по правому краю */
    padding: 0.5em 1em; /* Добавляем отступы сверху/снизу и по бокам */
}
.autocomplete-item {
    background-color: #212121; /* Темно-серый фон */
    color: #b3b3b3; /* Белый текст */
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid #535353; /* Граница */
}

.autocomplete-item:hover {
    background-color: #535353; /* Светло-серый фон при наведении */
}
#suggestions li {
    padding: 0.5em;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #535353; /* Светло-серый фон при наведении */
}

/* Убираем цвет для популярности */
table td:last-child {
    background-color: #212121;
}

button.listen {
    margin: 10px auto 0.1em auto; /* Отступы сверху и снизу, центрирование по горизонтали */
    background-color: #1db954; /* Зеленая кнопка */
    color: #121212; /* Черный цвет текста */
    border: none;
    font-weight: bold; /* Жирный текст */
    padding: 10px 20px; /* Увеличиваем внутренние отступы для кнопки */
    cursor: pointer;
    border-radius: 14px; /* Округлые края */
    display: flex;
    align-items: center;
    justify-content: center;
}
#results {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    border-radius: 25px;
    margin-top: 20px;
    min-height: 20px; /* Фиксированная высота для блока с результатами */
}
#results.hidden {
    display: none;
}
.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sad-face {
    font-size: 2em; /* Размер смайлика */
    margin-bottom: -0.2em; /* Уменьшенное расстояние между смайликом и текстом */
}

.error-message p {
    font-size: 1.4em;
    color: #b3b3b3; /* Серый цвет текста */
    margin: 0; /* Убираем отступы */
}
.level-bar-container {
    width: 100%;
    background-color: #333; /* Цвет фона полоски */
    border-radius: 5px; /* Скругленные углы полоски */
    margin: 10px 0; /* Отступы сверху и снизу */
    position: relative; /* Позиционирование для уровня текста */
}

.level-bar {
    height: 20px; /* Высота полоски */
    background-color: #1db954; /* Цвет заполненной части */
    border-radius: 5px; /* Скругленные углы заполненной части */
    transition: width 0.3s ease; /* Анимация для плавного изменения ширины */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white; /* Цвет текста */
    font-weight: bold;
}

.level-text {
    position: absolute; /* Абсолютное позиционирование для центрирования текста поверх полоски */
    width: 100%; /* Ширина текста равна ширине контейнера */
    text-align: center; /* Центрирование текста по горизонтали */
    top: 0; /* Расположение текста по верхнему краю контейнера */
    left: 0; /* Расположение текста по левому краю контейнера */
    height: 100%; /* Высота текста равна высоте контейнера */
    display: flex;
    align-items: center; /* Вертикальное центрирование текста */
    justify-content: center; /* Горизонтальное центрирование текста */
    color: white; /* Цвет текста */
    font-weight: bold; /* Жирный текст */
    font-size: 0.8em; /* Размер текста */
}

.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Высота экрана */
    text-align: center;
    max-width: 400px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрируем контейнер */
    padding: 10px; /* Добавляем внутренние отступы */
}
/* АНИМАЦИЯ */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}
@keyframes fillBar {
    from {
        width: 0;
    }
    to {
        width: var(--bar-width);
    }
}

.level-bar {
    height: 20px;
    background-color: #1db954;
    border-radius: 5px;
    transition: width 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    animation: fillBar 3s ease-in-out forwards;
}

.level-bar-container {
    width: 100%;
    background-color: #333;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
}
.image-container {
    position: relative;
    display: inline-block;
}
#results {
    position: relative; /* Добавьте это для установления контекста позиционирования */
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    border-radius: 25px;
    margin-top: 17px;
    min-height: 20px; /* Фиксированная высота для блока с результатами */
}
.result-badge {
    position: absolute;
    top: 0px;  /* Подвинуть вверх */
    left: 0px;  /* Подвинуть влево */
    background-color: #1db954;  /* Зеленый цвет */
    width: 70px;  /* Фиксированная ширина */
    height: 70px;  /* Фиксированная высота */
    border-radius: 22px 0px 82px 0px;  /* Скругление углов */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;  /* Уменьшенные отступы */
    box-sizing: border-box;  /* Учитываем отступы в размере блока */
    text-align: center;  /* Центрирование текста по горизонтали */
    line-height: 1.2;  /* Регулирует межстрочный интервал */
}

.result-text {
    font-size: 0.5em;  /* Размер текста */
    font-weight: bold;  /* Жирный текст */
    color: white;  /* Цвет текста */
    line-height: 1.2;  /* Регулирует межстрочный интервал */
    word-wrap: break-word;  /* Перенос слов */
    word-break: break-all;  /* Принудительный перенос слов */
    margin-left: -9px;  /* Отступ слева */
    margin-top: -8px;  /* Отступ сверху */
}


@media (max-width: 800px) {
    .container {
        width: 100%;
        padding: 20px;
    }
    #results img {
        width: 240px; /* Устанавливаем фиксированную ширину изображения */
        height: 240px; /* Устанавливаем фиксированную высоту изображения */
        border-radius: 50%; /* Округляем изображение */
        margin-top: 0.1em; /* Уменьшенное расстояние */
        object-fit: cover; /* Обеспечивает обрезку изображения для сохранения пропорций */
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-position: center; /* Центрирование изображения */
    }
    #results {
        width: 100%;
        padding: 14px;
        margin-top: 12px;
        margin-bottom: 10px; /* Добавляем нижний отступ */
    }
    .error-message {
        padding: 10px;
        text-align: center;
    }
    .input-field {
        display: flex;
        justify-content: center; /* Центрирование содержимого по горизонтали */
        align-items: center; /* Центрирование содержимого по вертикали */
        width: 90%;
        margin: 4px 0 20px 0; /* Отрицательный верхний отступ для поднятия элемента */
    }
    .input-field input {
        width: 40%; /* Уменьшенная ширина строки поиска */
        margin-right: 50px; /* Отступ между строкой поиска и кнопкой */
    }
    .input-field button {
        width: 40%; /* Уменьшенная ширина кнопки поиска */
    }
}