body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121212; /* Черный фон */
    color: #b3b3b3; /* Серый цвет текста */
    overflow: auto; /* Включаем прокрутку */
}

h1 {
    font-size: 1.4em; /* Уменьшенный размер */
    margin: 0.01em 0 0.4em 0; /* Уменьшенное расстояние сверху и снизу */
    color: #1db954; /* Зеленый цвет */
    text-transform: uppercase; /* Капсом */
    text-align: center; /* Центрирование текста */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование содержимого по горизонтали */
    width: 100%;
    max-width: 400px;
    height: 80px; /* Фиксированная высота контейнера */
    padding: 20px; /* Добавляем отступы для мобильной версии */
    box-sizing: border-box; /* Учитываем отступы в ширину контейнера */
    background-color: #1e1e1e; /* Темный фон контейнера */
    border-radius: 25px; /* Скругленные углы контейнера */
    justify-content: flex-start; /* Выравниваем содержимое по верхнему краю */
}

.input-field {
    display: flex;
    align-items: center;
    position: relative;
    margin: -10px 0 20px 0; /* Отрицательный верхний отступ для поднятия элемента */
}

.input-field input {
    font-size: 1.2em; /* Уменьшенный размер */
    color: #b3b3b3;
    border-radius: 25px; /* Скругленные углы контейнера */
    padding: 0 20px; /* Добавляем отступы */
    height: 46px; /* Высота для выравнивания с кнопкой */
    flex-grow: 1; /* Растягиваем на доступную ширину */
}
button {
    background-color: #1db954; /* Зеленая кнопка */
    color: #121212; /* Черный цвет текста */
    border: none;
    padding: 16px; /* Отступы по бокам */
    cursor: pointer;
    border-radius: 25px; /* Скругленные углы контейнера */
    height: 34px; /* Высота кнопки для выравнивания с полем ввода */
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase; /* Капсом */
    font-weight: bold; /* Жирный шрифт */
    font-size: 0.86em; /* Размер текста */
}

button i.material-icons {
    margin-left: 2.5px; /* Отступ слева для иконки */
}
#results img {
    width: 300px; /* Устанавливаем фиксированную ширину изображения */
    height: 300px; /* Устанавливаем фиксированную высоту изображения */
    border-radius: 50%; /* Округляем изображение */
    margin-top: 0.1em; /* Уменьшенное расстояние */
    object-fit: cover; /* Обеспечивает обрезку изображения для сохранения пропорций */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#results h2 {
    font-size: 2em; /* Размер текста для имени артиста */
    color: #1db954; /* Зеленый цвет */
    padding: 0.1px;
    margin: 0.5em 0 0.2em 0; /* Уменьшенное расстояние сверху и снизу */
    text-align: center; /* Центрирование текста */
}

#results p {
    margin: 0.1em 0; /* Уменьшаем верхний и нижний отступы */
    text-align: center; /* Центрирование текста */
    color: #b3b3b3; /* Серый цвет текста */
    padding: 0; /* Убираем отступы */
    font-size: 1.2em; /* Увеличиваем размер текста */
}

#top-tracks {
    text-transform: uppercase;
    font-size: 1.2em;
    color: #535353; /* Темно-серый цвет */
    margin-top: 0.8em; /* Уменьшенный верхний отступ */
    margin-bottom: 0.4em; /* Уменьшенный нижний отступ */
    text-align: center; /* Центрирование текста */
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #212121; /* Черный фон таблицы */
    color: #b3b3b3; /* Белый текст */
    margin-top: 0.1em;
    border-radius: 15px; /* Закругляем углы таблицы */
    overflow: hidden; /* Обеспечиваем правильное отображение закругленных углов */
}


th, td {
    padding: 0.5em;
    text-align: left;
}

.autocomplete-item {
    background-color: #212121; /* Темно-серый фон */
    color: #b3b3b3; /* Белый текст */
    padding: 0.5em;
    cursor: pointer;
    border: 1px solid #535353; /* Граница */
}

.autocomplete-item:hover {
    background-color: #535353; /* Светло-серый фон при наведении */
}
#suggestions li {
    padding: 0.5em;
    cursor: pointer;
}

#suggestions li:hover {
    background-color: #535353; /* Светло-серый фон при наведении */
}

/* Убираем цвет для популярности */
table td:last-child {
    background-color: #212121;
}

button.listen {
    margin: 6px auto 0.1em auto; /* Отступы сверху и снизу, центрирование по горизонтали */
    background-color: #1db954; /* Зеленая кнопка */
    color: #121212; /* Черный цвет текста */
    border: none;
    font-weight: bold; /* Жирный текст */
    padding: 10px 20px; /* Увеличиваем внутренние отступы для кнопки */
    cursor: pointer;
    border-radius: 14px; /* Округлые края */
    display: flex;
    align-items: center;
    justify-content: center;
}
#results {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    box-sizing: border-box;
    background-color: #1e1e1e;
    border-radius: 25px;
    margin-top: 20px;
    min-height: 20px; /* Фиксированная высота для блока с результатами */
}
#results.hidden {
    display: none;
}
.error-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.sad-face {
    font-size: 3em; /* Размер смайлика */
    margin-bottom: -0.2em; /* Уменьшенное расстояние между смайликом и текстом */
}

.error-message p {
    font-size: 1.2em;
    color: #b3b3b3; /* Серый цвет текста */
    margin: 0; /* Убираем отступы */
}

@media (max-width: 600px) {
    .container {
        width: 96%;
        padding: 10px;
    }
    #results img {
        width: 240px; /* Устанавливаем фиксированную ширину изображения */
        height: 240px; /* Устанавливаем фиксированную высоту изображения */
        border-radius: 50%; /* Округляем изображение */
        margin-top: 0.1em; /* Уменьшенное расстояние */
        object-fit: cover; /* Обеспечивает обрезку изображения для сохранения пропорций */
        display: block;
        margin-left: auto;
        margin-right: auto;
        object-position: center; /* Центрирование изображения */
    }
    h1 {
    font-size: 1.4em; /* Уменьшенный размер */
    margin: 0.4em 0 0.4em 0; /* Уменьшенное расстояние сверху и снизу */
    }
    #results {
        width: 96%;
        padding: 20px;
        margin-top: 10px;
        margin-bottom: 14px; /* Добавляем нижний отступ */
    }
    .error-message {
        padding: 100px;
        text-align: center;
    }
    .input-field {
        display: flex;
        justify-content: center; /* Центрирование содержимого по горизонтали */
        align-items: center; /* Центрирование содержимого по вертикали */
        width: 96%;
        margin: -10px 0 20px 0; /* Уменьшаем верхний отступ и оставляем нижний отступ */
    }
    }
    .input-field input {
        width: 60%; /* Уменьшенная ширина строки поиска */
        margin-right: 5px; /* Отступ между строкой поиска и кнопкой */
    }
    .input-field button {
        width: 40%; /* Уменьшенная ширина кнопки поиска */
    }
}
.container-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Высота экрана */
    text-align: center;
    padding-top: 0.1px; /* Уменьшаем верхний отступ */
}